/* le doy estilo al formulario y sus campos*/

.main-content {
    padding-top: 150px;
}

/* cajita principal con un tamaño maximo de ancho, la centra y le doy un color de fondo concreto
para version d escritorio le puse ese tamaño fijo porque me rayaba que se viera tan chiquito HAHAHAH*/
.form-container {
    max-width: 700px;
    height: 900px;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--color-fondo-secundario);
    border: 1px solid rgba(240, 240, 240, 0.1);
    border-radius: 4px;
}

.form-container h1 {
    font-family: var(--fuente-titulos);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2.5rem;
}

/* quito fondos, bordes, el campo de texto solo le pongo una linea de subrayado, el texto que escribe el user 
es blanco y hago una animacion suave para el color del borde*/
.form-group {
    margin-bottom: 2rem;
    position: relative;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--color-texto-secundario);
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.75rem 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(240, 240, 240, 0.2);
    color: var(--color-texto);
    font-family: var(--fuente-cuerpo);
    font-size: 1.1rem;
    border-radius: 0;
    transition: border-color 0.3s ease;
}

.form-group textarea{
    height: 279px;
    resize: none;
}

/* cuando un user hace clic en un campo quito el color por defecto, la linea de subrayado cambia al color
de acento*/
.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: var(--color-acento);
}

/* estilizo mi boton de enviar, con fondo transparente y cuando le paso el raton por encima invierte los colores*/
.form-button {
    display: inline-block;
    width: 100%;
    padding: 1rem 2rem;
    background-color: transparent;
    color: var(--color-texto);
    border: 1px solid var(--color-texto);
    border-radius: 2px;
    font-family: var(--fuente-cuerpo);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.form-button:hover {
    background-color: var(--color-texto);
    color: #111;
}

/* ESTILO PAL MOVIL

reduce el padding de arriba para que no este tan bajito el formulario, quito la altura fija y la dejo
en auto y que ocupe el alto que necesite y reduzco la altura del text area para que no sea gigante*/

@media (max-width: 768px) {
    .main-content {
        padding-top: 4rem;
    }

    .form-container {
        height: auto; 
        max-width: 90vw;
        padding: 2rem 1.5rem;
    }

    .form-container h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .form-group textarea {
        height: 150px;
    }
}