/* posiciono los elementos slideshow, controls y slidecounter fijos en pantalla, defino el estado inicial de las
animaciones como los textos ocultos que el script.js se encarga de mover
todo lo q tenga z-index 1 es que queda abajo del todo y z-index 100 o mas queda arriba, como si fueran capas de photoshop
*/

/* con esto solo cambio los estilos del header y footer en esta pagina, con posicion fixed y sin color de fondo
por eso el menu de home flota sobnre el slideshow, y en el resto si que tiene fondito*/
body.page-home .main-header {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-bottom: none;
    background-color: transparent;
}

body.page-home .main-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    border-top: none;
    padding: 2.5rem;
    text-align: left;
    color: var(--color-texto-secundario);
    margin-top: 0;
    background-color: transparent;
}

/* posicion fijada de mi slide, que ocupe toda la pantalla y lo pongo detras de todo lo demas con z-index:1*/
.slideshow {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
    z-index: 1;
}

/* apila las diapos una encima de otra e invisibles*/
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    transform-origin: center;
}

/* enciende una diapo cuando el js añade la clase active, asi pasamos a visibility visible y lo podemos ver*/
.slide.active {
    visibility: visible;
}

/* para la animacion de zoom en GSAP, al haceerle zoom rellena toda la pantalla sin dejar bordes vacios*/
.slide__img {
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background-size: cover;
    background-position: center;
    will-change: transform;
    transform-origin: center;
}

/* uso un pseudoelemento para darle un gradiente lineal sutil encima de la imagen, para oscurecer la parte inferior
y que el texto resalte mas*/
.slide__img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0) 40%
    );
}

.slide__text {
    position: absolute;
    bottom: 15vh;
    left: 5vw;
    max-width: 90%;
    overflow: hidden;
    z-index: 5;
}

/* la animacion del texto, el estado inicial  cada linea de texto esta fuera de la caja y movida 100% hacia abajo siendo invisible
el overflow de arribita es la mascara que lo oculta
y el js anima estas propiedades a que la Y sea 0 y la opacidad a 1 creando el efecto ese de que aparece*/
.slide__text-line {
    display: block;
    font-family: var(--fuente-titulos);
    font-size: 7vw;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    transform: translateY(100%);
    opacity: 0;
    color: var(--color-texto);
}

@media (min-width: 1200px) {
    .slide__text-line {
        font-size: 8rem;
    }
}

/* posicionan el texto scroll y el contador con posicion fixced para que queden pegados en la pantalla*/
.controls {
    position: fixed;
    top: 2.5rem;
    right: 2.5rem;
    z-index: 100;
}

.controls-text {
    color: var(--color-texto);
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.7;
}

.slide-counter {
    position: fixed;
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    z-index: 10;
    color: var(--color-texto);
}

/* ventana para la animacion del numero, el js solo muyeve el counter-strip por detras de esta ventanita*/
.counter-container {
    position: relative;
    min-width: 2rem;
    height: 1.2rem;
    overflow: hidden;
    text-align: right;
}

.counter-strip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: right;
}

.counter-number {
    height: 1.2rem;
    display: block;
}

.counter-separator {
    width: 40px;
    height: 1px;
    background-color: var(--color-texto);
    opacity: 0.5;
    margin: 0 1rem;
}

.counter-total {
    min-width: 2rem;
    text-align: left;
}

/* ESTILOS PAL MOVIl 
como dije oculto el texto de scroll en movil y el contador, ajusto el tamaño de la letra y la posicion */

@media (max-width: 768px) {
    body.page-home .main-header,
    body.page-home .main-footer {
        padding: 1.5rem;
        position: absolute;
    }
    
    body.page-home .main-footer {
        position: fixed;
        bottom: 0;
        text-align: center;
    }

    .controls {
        display: none;
    }

    .slide__text {
        left: 5vw;
        bottom: 25vh;
        max-width: 90vw;
    }

    .slide__text-line {
        font-size: 14vw; 
        letter-spacing: -0.05em;
    }

    .slide-counter {
        display: none;
    }

    .counter-separator {
        display: none;
    }

    .counter-total {
        min-width: 0;
        margin-left: 0.5rem;
    }
}

@media (max-width: 480px) {
    .slide__text-line {
        font-size: 13vw;
    }
}